@import url("https://cdn.syncfusion.com/ejs/material.css");

.inline {
  display: inline-block;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.font-link {
  font-family: 'Prompt', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Prompt', sans-serif;
}

.title{
  font-family: 'Prompt', sans-serif;
  font-size: large;
}

.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;

}

.search-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.button{
  display: inline;
  margin-right: 1em;
}

.bgc{
  color: black;
  background-color: rgba(139, 69, 69, 0.164);
  box-shadow: grey;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.bgcForm{
  color: black;
  background-color: rgba(139, 69, 69, 0.164);
  box-shadow: grey;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 10em;
  margin-bottom: 2em;
}

