.inline {
  display: inline-block;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.font-link {
  font-family: 'Prompt', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Prompt', sans-serif;
}

.title{
  font-family: 'Prompt', sans-serif;
  font-size: large;
}


